@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Datanomix sites use cookies, small text files placed on your device which web servers
        in the domain that placed the cookie can retrieve later. We use cookies to store your 
        preferences and settings, help with sign-in, provide targeted ads, and analyze site operations.
        <a href="https://app.termly.io/document/privacy-policy/f9737799-255d-4110-9a1c-ebe67e0aad6f">Learn More</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function() {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click",
                function(event) {
                    document.cookie = button.dataset.cookieString;
                },
                false);
        })();
    </script>
}